@model DrinkDatabase.Models.Drink

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Ingredients</dt>
        <dd>
            @{
            @:<dl>
                @:<div class="row"><div class="col-md-4 di-header">Brand</div><div class="col-md-4 di-header">Name</div><div class="col-md-4 di-header">Amount</div></div>
            HashSet<DrinkDatabase.Models.DrinkIngredient> ings = ViewBag.DrinkIngredients;
            if (ings.Count > 0)
            {
                
                foreach (var item in ings)
                {
                    @Html.Action("DrinkIngredientDetails", new { id = item.ID });
                }
            }
            @:</dl>
        }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
