@model DrinkDatabase.Models.Drink
@using DrinkDatabase.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Ingredients</dt>
        <dd>
            @{
                @:<div class="row"><div class="col-md-4 di-header">Brand</div><div class="col-md-4 di-header">Name</div><div class="col-md-4 di-header">Amount</div></div>
                HashSet<DrinkIngredient> ings = new HashSet<DrinkIngredient>(
                    ((IEnumerable<DrinkIngredient>)ViewBag.DrinkIngredients)
                    .Where(i => i.DrinkID == Model.ID));
                if (ings.Count > 0)
                {
                    foreach (var item in ings)
                    {
                        @Html.Action("DrinkIngredientDetails", new { id = item.ID });
                    }
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
